* {
    font-family: "Google Sans", "Noto Sans";
    font-size: 11px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;

}

window#waybar {
    background: rgba(20, 20, 20, 0.34);
    color: #ffffff;
}

#workspaces button {
    padding: 0 8px;
    margin: 5px 2px;
    border-radius: 7px;
    background: transparent;
    color: #bbbbbb;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#battery {
    padding: 0 12px;
    margin: 5px 0;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.08);
}
